<section class="card">
  <div class="header">
    <button type="button" (click)="goBack()">&#8592;</button>
    <img src="{{ establishment.picture }}" alt="{{ establishment.name }}" />
    <div>
      <h2 class="title">{{ title }}</h2>
      <span>ID: {{ establishment.id }}</span>
    </div>
  </div>

  <form (ngSubmit)="updateEstablishment()">
    <fieldset>
      <legend>Informações Básicas</legend>
      <hr />
      <div class="form-group">
        <div class="input-group">
          <label for="name">Nome</label>
          <input
            [(ngModel)]="establishment.name"
            name="name"
            type="text"
            id="name"
          />
        </div>
        <div class="input-group">
          <label for="city">Cidade</label>
          <input
            [(ngModel)]="establishment.city"
            name="city"
            type="text"
            id="city"
          />
        </div>
        <div class="input-group">
          <label for="address">Endereço</label>
          <input
            [(ngModel)]="establishment.address"
            name="address"
            type="text"
            id="address"
          />
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Financeiro</legend>
      <hr />
      <div class="form-group">
        <div class="input-group">
          <label for="bank">Banco</label>
          <input
            type="text"
            [(ngModel)]="establishment.bank"
            name="bank"
            type="text"
            id="bank"
          />
        </div>
        <div class="input-group">
          <label for="account_type">Tipo de conta</label>
          <input
            type="text"
            [(ngModel)]="establishment.account_type"
            name="account_type"
            type="text"
            id="account_type"
          />
        </div>
        <div class="input-group">
          <label for="document_number">CPF / CNPJ</label>
          <input
            type="text"
            [(ngModel)]="establishment.document_number"
            name="document_number"
            type="text"
            id="document_number"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <label for="agency">Agência</label>
          <div class="form-subgroup">
            <input
              type="text"
              [(ngModel)]="establishment.agency"
              name="agency"
              type="text"
              id="agency"
            />
            <input
              type="text"
              [(ngModel)]="establishment.agency_digit"
              name="agency_digit"
              type="text"
              id="agency_digit"
            />
          </div>
        </div>
        <div class="input-group">
          <label for="account">Conta</label>
          <div class="form-subgroup">
            <input
              type="text"
              [(ngModel)]="establishment.account"
              name="account"
              type="text"
              id="account"
            />
            <input
              type="text"
              [(ngModel)]="establishment.account_digit"
              name="account_digit"
              type="text"
              id="account_digit"
            />
          </div>
        </div>
        <div class="input-group">
          <label for="automatic_withdrawal">Saque automático?</label>
          <select
            [(ngModel)]="establishment.automatic_withdrawal"
            name="automatic_withdrawal"
            id="automatic_withdrawal"
          >
            <option [ngValue]="false">Não</option>
            <option [ngValue]="true">Sim</option>
          </select>
        </div>
      </div>
    </fieldset>
    <div class="form-button">
      <button type="submit" class="btn-success">SALVAR</button>
    </div>
  </form>
</section>
