/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: #8d30cc;
}

body {
  background: #f8f9fd;
  color: #81879c;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font: 300 15px "Mitr", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #4c5164;
  font-weight: 500;
}

button {
  cursor: pointer;
}
